// 변수 사용하기
$red: #fa5252;
$orange: #fd7e14;

// 믹스인 : 재사용을 함수처럼 편리하게
@mixin square($size) {
	$calculated: 32px * $size;
	width: $calculated;
	height: $calculated;
}
// 변수, 믹스인 다른 곳에 옮겨두고 @import './styles/utils'; 이런 식으로 가능 

.Sass{ //컴포넌트 명 
  display: flex;
  .box{ //클래스명 : css에서의 .Sass .box
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red { // .red 클래스가 .box와 사용되었을 때 (className= "box red" 
      background: $red;
      @include square(1)
    }
  }
}
